body  {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
}

header {
	background-color: #333333;
	border-bottom: 3px ridge #262626; 
	height: 65px;
	font-size: 40px;
	padding: 0 5% 0 5%;
}

/* Logo */
.logo {
	text-decoration: none;
	color: white;
}

.logo:link {
	text-decoration: none;
}

.logo:visited {
	text-decoration: none;
	color: white;
}

.logo:hover {
	text-decoration: none;
	color: white;
}

/* Barra de pesquisa */
.pesquisa {
	font-size: 20px;
	color: white;
	float: right;
	border-radius: 7px;
	margin: 16px 6% 0 0;
	width: 250px;
	height: 30px;
	background-color: #4d4d4d;
	border: 3px inset #737373;
}

/* Texto antes da barra de pesquisa*/
.texto {
	font-size: 20px;
	float: right;
	margin: 17px 1% 0 0;
}

section {
	box-sizing: content-box;
}

.titulo {
	font-size: 50px;
	text-align: center;
}

 article {
	width: 100%;
	height: 60px;
	border-radius: 12px;
	line-height: 0.90;
}

/* Número atômico */
.numero {
	font-size: 12px;
	font-weight: bold;
}

/* Nome do elemento */
.nome {
	font-size: 11px;
}

/* Sigla do elemento */
.principal {
	font-size: 27px;
}

/* Articles invisiveis*/
.none {
	visibility: hidden;
}

/* Espaço para colocar o grupo de elementos */
.hub {
	height: 60px;
	vertical-align: middle;
	line-height: 60px;
	font-size: 17px;
}

 ul {
	float: left;
	list-style-type: none;
}

 ul li {
	cursor: pointer;
}

 ul li:hover {
	text-decoration: underline;
}

.ul-margin-left {
	margin-left: 40px;
}

/* Quadradinho de cores dos grupos */
ul li img {
	border-radius: 5px;
	margin-right: 10px;
}

/* ---------------------  Cores  ----------------------- */

/* Elemento opaco */
.opaco {
	color: #999999;
	border: 3px solid #999999;
	text-align: center;
	overflow: hidden;
}

.nao-metais {
	color: #00b300;
	border: 3px solid #00b300;
	text-align: center;
	overflow: hidden;
}
.nao-metais2 {
	text-align: center;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #00b300;
	transition: 0.15s;
	background: -webkit-radial-gradient(#00b300 0%, #006600 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #00b300 0%, #006600 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#00b300), color-stop(100%,#006600)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #00b300 0%, #006600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #00b300 0%, #006600 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #00b300 0%, #006600 100%); /* IE10+ */
}

.nao-metais:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #00b300;
	cursor: pointer;
	transition: 0.15s;
	background: -webkit-radial-gradient(#00b300 0%, #006600 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #00b300 0%, #006600 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#00b300), color-stop(100%,#006600)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #00b300 0%, #006600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #00b300 0%, #006600 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #00b300 0%, #006600 100%); /* IE10+ */
}

.gases-nobres {
	color: #3385ff;
	border: 3px solid #3385ff;
	text-align: center;
	overflow: hidden;
}

.gases-nobres:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #3385ff;
	cursor: pointer;
	transition: 0.15s;
	background: -webkit-radial-gradient(#3385ff 0%, #0047b3 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #3385ff 0%, #0047b3 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#3385ff), color-stop(100%,#0047b3)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #3385ff 0%, #0047b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #3385ff 0%, #0047b3 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #3385ff 0%, #0047b3 100%); /* IE10+ */
}

.gases-nobres2 {
	overflow: hidden;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #3385ff;
	transition: 0.15s;
	background: -webkit-radial-gradient(#3385ff 0%, #0047b3 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #3385ff 0%, #0047b3 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#3385ff), color-stop(100%,#0047b3)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #3385ff 0%, #0047b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #3385ff 0%, #0047b3 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #3385ff 0%, #0047b3 100%); /* IE10+ */
}

.metais-alcalinos {
	color: #ff8533;
	border: 3px solid #ff8533;
	text-align: center;
	overflow: hidden;
}

.metais-alcalinos2 {
	text-align: center;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #ff8533;
	transition: 0.15s;
	background: -webkit-radial-gradient(#ff8533 0%, #b34700 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #ff8533 0%, #b34700 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#ff8533), color-stop(100%,#b34700)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #ff8533 0%, #b34700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #ff8533 0%, #b34700 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #ff8533 0%, #b34700 100%); /* IE10+ */
}

.metais-alcalinos:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #ff8533;
	cursor: pointer;
	transition: 0.15s;
	background: -webkit-radial-gradient(#ff8533 0%, #b34700 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #ff8533 0%, #b34700 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#ff8533), color-stop(100%,#b34700)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #ff8533 0%, #b34700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #ff8533 0%, #b34700 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #ff8533 0%, #b34700 100%); /* IE10+ */
}

.metais-alcalino-terrosos {
	color: #cccc00;
	border: 3px solid #cccc00;
	text-align: center;
	overflow: hidden;
}

.metais-alcalino-terrosos2 {
	text-align: center;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #cccc00;
	transition: 0.15s;
	background: -webkit-radial-gradient(#cccc00 0%, #808000 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #cccc00 0%, #808000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#cccc00), color-stop(100%,#808000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #cccc00 0%, #808000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #cccc00 0%, #808000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #cccc00 0%, #808000 100%); /* IE10+ */
}


.metais-alcalino-terrosos:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #cccc00;
	cursor: pointer;
	transition: 0.15s;
	background: -webkit-radial-gradient(#cccc00 0%, #808000 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #cccc00 0%, #808000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#cccc00), color-stop(100%,#808000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #cccc00 0%, #808000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #cccc00 0%, #808000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #cccc00 0%, #808000 100%); /* IE10+ */
}

.halogenios{
	color: #00e6e6;
	border: 3px solid #00e6e6;
	text-align: center;
	overflow: hidden;
}

.halogenios2 {
	text-align: center;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #00e6e6;
	transition: 0.15s;
	background: -webkit-radial-gradient(#00e6e6 0%, #008080 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #00e6e6 0%, #008080 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#00e6e6), color-stop(100%,#008080)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #00e6e6 0%, #008080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #00e6e6 0%, #008080 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #00e6e6 0%, #008080 100%); /* IE10+ */
}

.halogenios:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #00e6e6;
	cursor: pointer;
	transition: 0.15s;
	background: -webkit-radial-gradient(#00e6e6 0%, #008080 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #00e6e6 0%, #008080 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#00e6e6), color-stop(100%,#008080)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #00e6e6 0%, #008080 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #00e6e6 0%, #008080 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #00e6e6 0%, #008080 100%); /* IE10+ */
}

.metais-de-transicao {
	color: #f28c8c;
	border: 3px solid #f28c8c;
	text-align: center;
	overflow: hidden;
}

.metais-de-transicao2 {
	text-align: center;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #f28c8c;
	transition: 0.15s;
	background: -webkit-radial-gradient(#f28c8c 10%, #eb4747 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #f28c8c 10%, #eb4747 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 10%, center center,100%, color-stop(10%,#f28c8c), color-stop(100%,#eb4747)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #f28c8c 10%, #eb4747 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #f28c8c 10%, #eb4747 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #f28c8c 10%, #eb4747 100%); /* IE10+ */
}

.metais-de-transicao:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #f28c8c;
	cursor: pointer;
	transition: 0.15s;
	background: -webkit-radial-gradient(#f28c8c 10%, #eb4747 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #f28c8c 10%, #eb4747 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 10%, center center,100%, color-stop(10%,#f28c8c), color-stop(100%,#eb4747)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #f28c8c 10%, #eb4747 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #f28c8c 10%, #eb4747 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #f28c8c 10%, #eb4747 100%); /* IE10+ */
}

.semi-metais {
	color: #40bf80;
	border: 3px solid #40bf80;
	text-align: center;
	overflow: hidden;
}

.semi-metais2 {
	text-align: center;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #40bf80;
	transition: 0.15s;
	background: -webkit-radial-gradient(#40bf80 0%, #1f6040 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #40bf80 0%, #1f6040 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#40bf80), color-stop(100%,#1f6040)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #40bf80 0%, #1f6040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #40bf80 0%, #1f6040 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #40bf80 0%, #1f6040 100%); /* IE10+ */
}

.semi-metais:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #40bf80;
	cursor: pointer;
	transition: 0.15s;
	background: -webkit-radial-gradient(#40bf80 0%, #1f6040 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #40bf80 0%, #1f6040 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#40bf80), color-stop(100%,#1f6040)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #40bf80 0%, #1f6040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #40bf80 0%, #1f6040 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #40bf80 0%, #1f6040 100%); /* IE10+ */
}

.metais-representativos {
	color: #8c8c8c;
	border: 3px solid #8c8c8c;
	text-align: center;
	overflow: hidden;
}

.metais-representativos2 {
	text-align: center;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #8c8c8c;
	transition: 0.15s;
	background: -webkit-radial-gradient(#8c8c8c 0%, #404040 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #8c8c8c 0%, #404040 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#8c8c8c), color-stop(100%,#404040)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #8c8c8c 0%, #404040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #8c8c8c 0%, #404040 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #8c8c8c 0%, #404040 100%); /* IE10+ */
}

.metais-representativos:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #8c8c8c;
	cursor: pointer;
	transition: 0.15s;
	background: -webkit-radial-gradient(#8c8c8c 0%, #404040 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #8c8c8c 0%, #404040 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#8c8c8c), color-stop(100%,#404040)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #8c8c8c 0%, #404040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #8c8c8c 0%, #404040 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #8c8c8c 0%, #404040 100%); /* IE10+ */
}

.lantanidios {
	color:#aa80ff;
	border: 3px solid #aa80ff;
	text-align: center;
	overflow: hidden;
}

.lantanidios2 {
	text-align: center;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #aa80ff;
	transition: 0.15s;
	background: -webkit-radial-gradient(#aa80ff 0%, #661aff 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #aa80ff 0%, #661aff 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#aa80ff), color-stop(100%,#661aff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #aa80ff 0%, #661aff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #aa80ff 0%, #661aff 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #aa80ff 0%, #661aff 100%); /* IE10+ */
}

.lantanidios:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #aa80ff;
	transition: 0.15s;
	cursor: pointer;
	background: -webkit-radial-gradient(#aa80ff 0%, #661aff 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #aa80ff 0%, #661aff 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0%, center center,100%, color-stop(0%,#aa80ff), color-stop(100%,#661aff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #aa80ff 0%, #661aff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #aa80ff 0%, #661aff 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #aa80ff 0%, #661aff 100%); /* IE10+ */
}

.actinidios {
	color:#ac7339;
	border: 3px solid #ac7339;
	text-align: center;
	overflow: hidden;
}

.actinidios2{
	text-align: center;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #ac7339;
	transition: 0.15s;
	background: -webkit-radial-gradient(#ac7339 10%, #604020 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #ac7339 10%, #604020 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 10%, center center,100%, color-stop(10%,#ac7339), color-stop(100%,#604020)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #ac7339 10%, #604020 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #ac7339 10%, #604020 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #ac7339 10%, #604020 100%); /* IE10+ */
}

.actinidios:hover {
	color: rgba(0, 0, 0, 0.85);
	border: 3px solid #ac7339;
	transition: 0.15s;
	cursor: pointer;
	background: -webkit-radial-gradient(#ac7339 10%, #604020 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-radial-gradient(center, ellipse cover, #ac7339 10%, #604020 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 10%, center center,100%, color-stop(10%,#ac7339), color-stop(100%,#604020)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #ac7339 10%, #604020 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #ac7339 10%, #604020 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #ac7339 10%, #604020 100%); /* IE10+ */
}

/* Rodapé */
footer {
	width: 100%;
	background-color: #333333;
	border-bottom: 1px solid #333333;
	border-top: 2px groove #262626; 
}

.footer {
	text-align: center;
	font-size: 18px;
}